In [1]:
# import files

import pandas as pd
import numpy as np
# from sklearn.model_selection import

In [34]:
cars = pd.read_csv('quikr_car.csv')
cars.head()

,name,company,year,Price,kms_driven,fuel_type
0,Hyundai Santro Xing XO eRLX Euro III,Hyundai,2007,"80,000","45,000 kms",Petrol
1,Mahindra Jeep CL550 MDI,Mahindra,2006,"4,25,000",40 kms,Diesel
2,Maruti Suzuki Alto 800 Vxi,Maruti,2018,Ask For Price,"22,000 kms",Petrol
3,Hyundai Grand i10 Magna 1.2 Kappa VTVT,Hyundai,2014,"3,25,000","28,000 kms",Petrol
4,Ford EcoSport Titanium 1.5L TDCi,Ford,2014,"5,75,000","36,000 kms",Diesel

In [35]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 892 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        892 non-null    object
 1   company     892 non-null    object
 2   year        892 non-null    object
 3   Price       892 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: object(6)
memory usage: 41.9+ KB

In [36]:
# year and price should be in integer type
# Pre processing, cleaning and correcting the errors

#### Thing to do before starting data cleaning
- Make backup copy of dataset: backup = df.copy()
- Apply df['columns name'].unique() 
- Look at the data entered into the columns, what it should be as per the column name, and what is the 
- datatype of it.

# Errors in the dataset 
- Year has many non integer values, alpha characters
- Price has some non numeric values as well, have to remove ',' from the values
- kms_driven has "kms" in it and some nan and wrong inputs as well, object to integer
- fuel type has nan values as well
- name has alphanumeric character inputs, have to convert to complete alphabetical, 
### Clean each column one-by-one

1. year

In [37]:
cars['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '...', '150k', 'TOUR', '2003', 'r 15', '2004', 'Zest', '/-Rs',
       'sale', '1995', 'ara)', '2002', 'SELL', '2001', 'tion', 'odel',
       '2 bs', 'arry', 'Eon', 'o...', 'ture', 'emi', 'car', 'able', 'no.',
       'd...', 'SALE', 'digo', 'sell', 'd Ex', 'n...', 'e...', 'D...',
       ', Ac', 'go .', 'k...', 'o c4', 'zire', 'cent', 'Sumo', 'cab',
       't xe', 'EV2', 'r...', 'zest'], dtype=object)

As we can see, apart from years, there are some random trash as well, removing the non numerical data

In [38]:
cars = cars[cars['year'].str.isnumeric()]
# It checked whether the input is numeric or not, if yes, then kept it, else removed it

In [39]:
cars['year'].unique()

array(['2007', '2006', '2018', '2014', '2015', '2012', '2013', '2016',
       '2010', '2017', '2008', '2011', '2019', '2009', '2005', '2000',
       '2003', '2004', '1995', '2002', '2001'], dtype=object)

In [40]:
# Now, the non numeric data is removed, we can convert the data type of the remaining rows
cars['year'] = cars['year'].astype(int)

In [42]:
cars.info()
print("\nYEAR COLUMN IS NOW CLEAN")

<class 'pandas.core.frame.DataFrame'>
Index: 842 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        842 non-null    object
 1   company     842 non-null    object
 2   year        842 non-null    int32
 3   Price       842 non-null    object
 4   kms_driven  840 non-null    object
 5   fuel_type   837 non-null    object
dtypes: int32(1), object(5)
memory usage: 42.8+ KB

YEAR COLUMN IS NOW CLEAN

2. WORKING ON PRICE COLUMN

In [43]:
cars['Price'].unique()

array(['80,000', '4,25,000', 'Ask For Price', '3,25,000', '5,75,000',
       '1,75,000', '1,90,000', '8,30,000', '2,50,000', '1,82,000',
       '3,15,000', '4,15,000', '3,20,000', '10,00,000', '5,00,000',
       '3,50,000', '1,60,000', '3,10,000', '75,000', '1,00,000',
       '2,90,000', '95,000', '1,80,000', '3,85,000', '1,05,000',
       '6,50,000', '6,89,999', '4,48,000', '5,49,000', '5,01,000',
       '4,89,999', '2,80,000', '3,49,999', '2,84,999', '3,45,000',
       '4,99,999', '2,35,000', '2,49,999', '14,75,000', '3,95,000',
       '2,20,000', '1,70,000', '85,000', '2,00,000', '5,70,000',
       '1,10,000', '4,48,999', '18,91,111', '1,59,500', '3,44,999',
       '4,49,999', '8,65,000', '6,99,000', '3,75,000', '2,24,999',
       '12,00,000', '1,95,000', '3,51,000', '2,40,000', '90,000',
       '1,55,000', '6,00,000', '1,89,500', '2,10,000', '3,90,000',
       '1,35,000', '16,00,000', '7,01,000', '2,65,000', '5,25,000',
       '3,72,000', '6,35,000', '5,50,000', '4,85,000', '3,29,500',
       '2,51,111', '5,69,999', '69,999', '2,99,999', '3,99,999',
       '4,50,000', '2,70,000', '1,58,400', '1,79,000', '1,25,000',
       '2,99,000', '1,50,000', '2,75,000', '2,85,000', '3,40,000',
       '70,000', '2,89,999', '8,49,999', '7,49,999', '2,74,999',
       '9,84,999', '5,99,999', '2,44,999', '4,74,999', '2,45,000',
       '1,69,500', '3,70,000', '1,68,000', '1,45,000', '98,500',
       '2,09,000', '1,85,000', '9,00,000', '6,99,999', '1,99,999',
       '5,44,999', '1,99,000', '5,40,000', '49,000', '7,00,000', '55,000',
       '8,95,000', '3,55,000', '5,65,000', '3,65,000', '40,000',
       '4,00,000', '3,30,000', '5,80,000', '3,79,000', '2,19,000',
       '5,19,000', '7,30,000', '20,00,000', '21,00,000', '14,00,000',
       '3,11,000', '8,55,000', '5,35,000', '1,78,000', '3,00,000',
       '2,55,000', '5,49,999', '3,80,000', '57,000', '4,10,000',
       '2,25,000', '1,20,000', '59,000', '5,99,000', '6,75,000', '72,500',
       '6,10,000', '2,30,000', '5,20,000', '5,24,999', '4,24,999',
       '6,44,999', '5,84,999', '7,99,999', '4,44,999', '6,49,999',
       '9,44,999', '5,74,999', '3,74,999', '1,30,000', '4,01,000',
       '13,50,000', '1,74,999', '2,39,999', '99,999', '3,24,999',
       '10,74,999', '11,30,000', '1,49,000', '7,70,000', '30,000',
       '3,35,000', '3,99,000', '65,000', '1,69,999', '1,65,000',
       '5,60,000', '9,50,000', '7,15,000', '45,000', '9,40,000',
       '1,55,555', '15,00,000', '4,95,000', '8,00,000', '12,99,000',
       '5,30,000', '14,99,000', '32,000', '4,05,000', '7,60,000',
       '7,50,000', '4,19,000', '1,40,000', '15,40,000', '1,23,000',
       '4,98,000', '4,80,000', '4,88,000', '15,25,000', '5,48,900',
       '7,25,000', '99,000', '52,000', '28,00,000', '4,99,000',
       '3,81,000', '2,78,000', '6,90,000', '2,60,000', '90,001',
       '1,15,000', '15,99,000', '1,59,000', '51,999', '2,15,000',
       '35,000', '11,50,000', '2,69,000', '60,000', '4,30,000',
       '85,00,003', '4,01,919', '4,90,000', '4,24,000', '2,05,000',
       '5,49,900', '4,35,000', '1,89,700', '3,89,700', '3,60,000',
       '2,95,000', '1,14,990', '10,65,000', '4,70,000', '48,000',
       '1,88,000', '4,65,000', '1,79,999', '21,90,000', '23,90,000',
       '10,75,000', '4,75,000', '10,25,000', '6,15,000', '19,00,000',
       '14,90,000', '15,10,000', '18,50,000', '7,90,000', '17,25,000',
       '12,25,000', '68,000', '9,70,000', '31,00,000', '8,99,000',
       '88,000', '53,000', '5,68,500', '71,000', '5,90,000', '7,95,000',
       '42,000', '1,89,000', '1,62,000', '35,999', '29,00,000', '39,999',
       '50,500', '5,10,000', '8,60,000', '5,00,001'], dtype=object)

In [55]:
cars = cars[cars['Price']!="Ask For Price"]
cars['Price'] = cars['Price'].str.replace(',', '')
print(cars['Price'].unique())

['80000' '425000' '325000' '575000' '175000' '190000' '830000' '250000'
 '182000' '315000' '415000' '320000' '1000000' '500000' '350000' '160000'
 '310000' '75000' '100000' '290000' '95000' '180000' '385000' '105000'
 '650000' '689999' '448000' '549000' '501000' '489999' '280000' '349999'
 '284999' '345000' '499999' '235000' '249999' '1475000' '395000' '220000'
 '170000' '85000' '200000' '570000' '110000' '448999' '1891111' '159500'
 '344999' '449999' '865000' '699000' '375000' '224999' '1200000' '195000'
 '351000' '240000' '90000' '155000' '600000' '189500' '210000' '390000'
 '135000' '1600000' '701000' '265000' '525000' '372000' '635000' '550000'
 '485000' '329500' '251111' '569999' '69999' '299999' '399999' '450000'
 '270000' '158400' '179000' '125000' '299000' '150000' '275000' '285000'
 '340000' '70000' '289999' '849999' '749999' '274999' '984999' '599999'
 '244999' '474999' '245000' '169500' '370000' '168000' '145000' '98500'
 '209000' '185000' '900000' '699999' '199999' '544999' '199000' '540000'
 '49000' '700000' '55000' '895000' '355000' '565000' '365000' '40000'
 '400000' '330000' '580000' '379000' '219000' '519000' '730000' '2000000'
 '2100000' '1400000' '311000' '855000' '535000' '178000' '300000' '255000'
 '549999' '380000' '57000' '410000' '225000' '120000' '59000' '599000'
 '675000' '72500' '610000' '230000' '520000' '524999' '424999' '644999'
 '584999' '799999' '444999' '649999' '944999' '574999' '374999' '130000'
 '401000' '1350000' '174999' '239999' '99999' '324999' '1074999' '1130000'
 '149000' '770000' '30000' '335000' '399000' '65000' '169999' '165000'
 '560000' '950000' '715000' '45000' '940000' '155555' '1500000' '495000'
 '800000' '1299000' '530000' '1499000' '32000' '405000' '760000' '750000'
 '419000' '140000' '1540000' '123000' '498000' '480000' '488000' '1525000'
 '548900' '725000' '99000' '52000' '2800000' '499000' '381000' '278000'
 '690000' '260000' '90001' '115000' '1599000' '159000' '51999' '215000'
 '35000' '1150000' '269000' '60000' '430000' '8500003' '401919' '490000'
 '424000' '205000' '549900' '435000' '189700' '389700' '360000' '295000'
 '114990' '1065000' '470000' '48000' '188000' '465000' '179999' '2190000'
 '2390000' '1075000' '475000' '1025000' '615000' '1900000' '1490000'
 '1510000' '1850000' '790000' '1725000' '1225000' '68000' '970000'
 '3100000' '899000' '88000' '53000' '568500' '71000' '590000' '795000'
 '42000' '189000' '162000' '35999' '2900000' '39999' '50500' '510000'
 '860000' '500001']

In [56]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    object
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(1), object(5)
memory usage: 41.6+ KB

In [60]:
cars['Price'] = cars['Price'].astype(int)

In [61]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 819 entries, 0 to 891
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        819 non-null    object
 1   company     819 non-null    object
 2   year        819 non-null    int32
 3   Price       819 non-null    int32
 4   kms_driven  819 non-null    object
 5   fuel_type   816 non-null    object
dtypes: int32(2), object(4)
memory usage: 38.4+ KB

In [62]:
print(cars['fuel_type'].isnull().sum())
print(cars['fuel_type'].isna().sum())

3
3

In [63]:
cars['fuel_type'].unique()

array(['Petrol', 'Diesel', nan, 'LPG'], dtype=object)

In [64]:
cars['fuel_type'].value_counts()

fuel_type
Petrol    428
Diesel    386
LPG         2
Name: count, dtype: int64

In [83]:
cars['fuel_type']
cars.dropna(subset=['fuel_type'], axis='index', inplace=True)

fuel type is now clean, proceeding to cleaning kms_driven column

In [86]:
cars['kms_driven'].unique()

array(['45,000 kms', '40 kms', '28,000 kms', '36,000 kms', '41,000 kms',
       '25,000 kms', '24,530 kms', '60,000 kms', '30,000 kms',
       '32,000 kms', '48,660 kms', '4,000 kms', '16,934 kms',
       '43,000 kms', '35,550 kms', '39,522 kms', '39,000 kms',
       '55,000 kms', '72,000 kms', '15,975 kms', '70,000 kms',
       '23,452 kms', '35,522 kms', '48,508 kms', '15,487 kms',
       '82,000 kms', '20,000 kms', '68,000 kms', '38,000 kms',
       '27,000 kms', '33,000 kms', '46,000 kms', '16,000 kms',
       '47,000 kms', '35,000 kms', '30,874 kms', '15,000 kms',
       '29,685 kms', '1,30,000 kms', '19,000 kms', '54,000 kms',
       '13,000 kms', '38,200 kms', '22,000 kms', '50,000 kms',
       '13,500 kms', '3,600 kms', '45,863 kms', '60,500 kms',
       '12,500 kms', '18,000 kms', '13,349 kms', '29,000 kms',
       '44,000 kms', '42,000 kms', '14,000 kms', '49,000 kms',
       '36,200 kms', '51,000 kms', '1,04,000 kms', '33,333 kms',
       '33,600 kms', '5,600 kms', '7,500 kms', '24,330 kms', '65,480 kms',
       '2,00,000 kms', '59,000 kms', '99,000 kms', '2,800 kms',
       '21,000 kms', '11,000 kms', '66,000 kms', '3,000 kms', '7,000 kms',
       '38,500 kms', '37,200 kms', '43,200 kms', '24,800 kms',
       '45,872 kms', '40,000 kms', '11,400 kms', '97,200 kms',
       '52,000 kms', '31,000 kms', '1,75,430 kms', '37,000 kms',
       '65,000 kms', '3,350 kms', '75,000 kms', '62,000 kms',
       '73,000 kms', '2,200 kms', '54,870 kms', '34,580 kms',
       '97,000 kms', '60 kms', '80,200 kms', '3,200 kms', '0,000 kms',
       '5,000 kms', '588 kms', '71,200 kms', '1,75,400 kms', '9,300 kms',
       '56,758 kms', '10,000 kms', '56,450 kms', '56,000 kms',
       '32,700 kms', '9,000 kms', '73 kms', '1,60,000 kms', '58,559 kms',
       '57,000 kms', '1,70,000 kms', '80,000 kms', '6,821 kms',
       '23,000 kms', '34,000 kms', '1,800 kms', '4,00,000 kms',
       '48,000 kms', '90,000 kms', '12,000 kms', '69,900 kms',
       '1,66,000 kms', '122 kms', '0 kms', '36,469 kms', '7,800 kms',
       '24,695 kms', '15,141 kms', '59,910 kms', '1,00,000 kms',
       '4,500 kms', '1,29,000 kms', '300 kms', '1,31,000 kms',
       '1,11,111 kms', '59,466 kms', '25,500 kms', '44,005 kms',
       '2,110 kms', '43,222 kms', '1,00,200 kms', '65 kms',
       '1,40,000 kms', '1,03,553 kms', '58,000 kms', '1,20,000 kms',
       '49,800 kms', '100 kms', '81,876 kms', '6,020 kms', '55,700 kms',
       '18,500 kms', '53,000 kms', '35,500 kms', '22,134 kms',
       '1,000 kms', '8,500 kms', '87,000 kms', '6,000 kms', '8,000 kms',
       '55,800 kms', '56,400 kms', '72,160 kms', '11,500 kms',
       '1,33,000 kms', '2,000 kms', '88,000 kms', '65,422 kms',
       '1,17,000 kms', '1,50,000 kms', '10,750 kms', '6,800 kms',
       '9,800 kms', '57,923 kms', '30,201 kms', '6,200 kms', '37,518 kms',
       '24,652 kms', '383 kms', '95,000 kms', '3,528 kms', '52,500 kms',
       '47,900 kms', '52,800 kms', '1,95,000 kms', '48,008 kms',
       '48,247 kms', '9,400 kms', '64,000 kms', '2,137 kms', '10,544 kms',
       '1,47,000 kms', '90,001 kms', '48,006 kms', '74,000 kms',
       '85,000 kms', '29,500 kms', '39,700 kms', '67,000 kms',
       '19,336 kms', '60,105 kms', '45,933 kms', '1,02,563 kms',
       '28,600 kms', '41,800 kms', '1,16,000 kms', '42,590 kms',
       '7,400 kms', '54,500 kms', '76,000 kms', '00 kms', '11,523 kms',
       '38,600 kms', '95,500 kms', '37,458 kms', '85,960 kms',
       '12,516 kms', '30,600 kms', '2,550 kms', '62,500 kms',
       '69,000 kms', '28,400 kms', '68,485 kms', '3,500 kms',
       '85,455 kms', '63,000 kms', '1,600 kms', '77,000 kms',
       '26,500 kms', '2,875 kms', '13,900 kms', '1,500 kms', '2,450 kms',
       '1,625 kms', '33,400 kms', '60,123 kms', '1,37,495 kms',
       '91,200 kms', '1,46,000 kms', '1,00,800 kms', '2,100 kms',
       '2,500 kms', '1,32,000 kms'], dtype=object)

We have to remove the "kms" and "," from each value, also if there are some non numeric values, they will be removed as well

In [104]:
cars['kms_driven'] = cars['kms_driven'].str.split(' ') ## This splits the value by space between the number and kms
cars['kms_driven'] = cars['kms_driven'].str.get(0)     ## This picks the first part, as the number(kilometers)
cars['kms_driven'] = cars['kms_driven'].str.replace(',', '') ## This replaces the "," with empty string
cars['kms_driven'] = cars['kms_driven'].astype(int)
print(cars['kms_driven'])

print("Kms_driven column is now clean")

0       45000
1          40
3       28000
4       36000
6       41000
        ...
883     50000
885     30000
886    132000
888     27000
889     40000
Name: kms_driven, Length: 816, dtype: int32
Kms_driven column is now clean

In [105]:
cars.info()

<class 'pandas.core.frame.DataFrame'>
Index: 816 entries, 0 to 889
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        816 non-null    object
 1   company     816 non-null    object
 2   year        816 non-null    int32
 3   Price       816 non-null    int32
 4   kms_driven  816 non-null    int32
 5   fuel_type   816 non-null    object
dtypes: int32(3), object(3)
memory usage: 67.4+ KB

Now cleaning the names, we are going to take only the first three parts of the cars name, 
because keeping full names will only increase the model complexity and the space

In [117]:
cars['name'] = cars['name'].str.split(" ")           ## This splits the names, based on the spacing between them
cars['name'] = cars['name'].str.slice(0,3)           ## This keeps the 0,1,2 index values and removed rest
cars['name'] = cars['name'].str.join(sep=' ')        ## This joins all comma separatd strings using <space> as separator

In [122]:
cars['company'].unique()

array(['Hyundai', 'Mahindra', 'Ford', 'Maruti', 'Skoda', 'Audi', 'Toyota',
       'Renault', 'Honda', 'Datsun', 'Mitsubishi', 'Tata', 'Volkswagen',
       'Chevrolet', 'Mini', 'BMW', 'Nissan', 'Hindustan', 'Fiat', 'Force',
       'Mercedes', 'Land', 'Jaguar', 'Jeep', 'Volvo'], dtype=object)

In [123]:
cars.describe()

              year         Price     kms_driven
count   816.000000  8.160000e+02     816.000000
mean   2012.444853  4.117176e+05   46275.531863
std       4.002992  4.751844e+05   34297.428044
min    1995.000000  3.000000e+04       0.000000
25%    2010.000000  1.750000e+05   27000.000000
50%    2013.000000  2.999990e+05   41000.000000
75%    2015.000000  4.912500e+05   56818.500000
max    2019.000000  8.500003e+06  400000.000000

In [132]:
## removing outliers, the price column max value is ~ 85 lacs, 
print("\n", cars[cars['Price']>6e6].value_counts)
print("This value of a used car, either this is wrong or tampered, thus we can't include this into our model training")
print("Thus we have to remove it from our data")
cars = cars[cars['Price']<6e6]

 <bound method DataFrame.value_counts of                    name   company  year    Price  kms_driven fuel_type
562  Mahindra XUV500 W6  Mahindra  2014  8500003       45000    Diesel>
This value of a used car, either this is wrong or tampered, thus we can't include this into our model training
Thus we have to remove it from our data

In [136]:
cars.describe()
cars.reset_index(drop=True)

                       name   company  year   Price  kms_driven fuel_type
0       Hyundai Santro Xing   Hyundai  2007   80000       45000    Petrol
1       Mahindra Jeep CL550  Mahindra  2006  425000          40    Diesel
2         Hyundai Grand i10   Hyundai  2014  325000       28000    Petrol
3    Ford EcoSport Titanium      Ford  2014  575000       36000    Diesel
4                 Ford Figo      Ford  2012  175000       41000    Diesel
..                      ...       ...   ...     ...         ...       ...
810      Maruti Suzuki Ritz    Maruti  2011  270000       50000    Petrol
811          Tata Indica V2      Tata  2009  110000       30000    Diesel
812    Toyota Corolla Altis    Toyota  2009  300000      132000    Petrol
813            Tata Zest XM      Tata  2018  260000       27000    Diesel
814      Mahindra Quanto C8  Mahindra  2013  390000       40000    Diesel

[815 rows x 6 columns]

In [137]:
cleanedCSV = cars.to_csv('Cleaned data.csv')

#### NOW, THE ENITRE DATASET IS CLEANED UP, MOVING UP TO EDA AND MODEL DEVELOPEMENT

In [144]:
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LinearRegression
from sklearn.metrics import r2_score
from sklearn.preprocessing import OneHotEncoder

In [145]:
X = cars.drop('Price', axis='columns')
y = cars['Price']

In [149]:
ohe_cars = OneHotEncoder()
ohe_cars.fit(X[['company', 'name', 'kms_driven', 'fuel_type']])

OneHotEncoder()